<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/media.css">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <div id = "title">
            <h1>Marketing</h1>
            <h1>Criativo</h1>
        </div>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Contato</a></li>
            <li><a href="" id="inscreva-se-Btn">Já tem uma conta?</a></li>
        </ul>
    </header>

    <main>
        <aside>
            <h2><spam>Increva-se agora</spam></h2>
            <h2>na Newslatter</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptate doloremque vel expedita corrupti totam, iusto vero alias! Porro nesciunt quibusdam distinctio deserunt fuga facilis provident impedit eius. Eveniet, nesciunt?</p>

            <form action="">
                <input class="txtForm" type="text" placeholder="Nome">
                <input class="txtForm" type="email" placeholder="Email">
                <input id="btnSubmit" type="submit" value="Enviar >">
            </form> 
        </aside>

        <article>
            <img  src="../components/images/ilustraçãoDevTeam2.png" alt="">
        </article>
        
    </main>
</body>
</html>